/* Color Palette */

body {
  margin: 0;
  text-align: center;
  height: 100vh;
}

.App {
  height: 100vh;
  background-color: #fe6e00;
  display: grid;
  grid-gap: 1%;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  color: #fedebe;
  /* background-image: url("/DODO_NOBG.png");
  background-position: center;
  background-repeat: no-repeat; */
}
a {
  color: #fedebe;
}

a:hover {
  font-style: italic;
}
.events-box::-webkit-scrollbar {
  display: none;
}

.about {
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  grid-column: 2/5;
  grid-row: 3/8;
  margin: auto 10% auto 0;
  background-color: #fd5602;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.292);
  border: solid rgb(235, 164, 126) 1px;
  height: 60%;
  font-family: "Titillium Web", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/9;
  border-bottom: solid #fedebe 2px;
  width: 100%;
  font-family: "Bungee", cursive;
  background-color: #fd5602;
}

footer {
  grid-column: 1/9;
  grid-row: 8/9;
  display: flex;
  justify-content: center;
}

#about-title {
  margin: auto 10% auto 0;
  grid-column: 2/5;
}
#events-title {
  margin: auto 0 auto 10%;
  grid-column: 5/8;
}
#about-title,
#events-title {
  grid-row: 3/4;
  text-shadow: 0px 6px 7px rgba(0, 0, 0, 0.292);
  font-family: "Bungee", cursive;
}
.events-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 5% 5% 5%;
  border-radius: 15px;
  border: solid rgb(235, 164, 126) 1px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.292);
  margin: auto 0 auto 10%;
  background-color: #fd5602;
  grid-column: 5/8;
  grid-row: 3/8;
  height: 60%;
  font-family: "Titillium Web", sans-serif;
}

img {
  max-width: 50px;
}

/* @media (max-width: 750px) {
  .App {
    overflow: scroll;
  }
  .App::-webkit-scrollbar {
    display: none;
  }
  .about,
  .events-box {
    grid-column: 3/7;
    margin: 0;
  }
  .about {
    grid-row: 3/5;
    grid-column:2/8 ;
    overflow: scroll;
    font-size: 15px;
    }
  .about::-webkit-scrollbar {
    display: none;
  }
  .events-box {
    grid-row: 6/9;
    grid-column:2/8 ;
  }
  #about-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    grid-column: 3/7;
    grid-row: 2/3;
    font-size: 20px;
  }
  #events-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    grid-row: auto;
    grid-column: 3/7;
    grid-row: 5/6;
    font-size: 20px;
  }
  footer {
    margin-top: auto;
  }
}
@media (max-width: 1000px) {
  .about,
  .events-box {
    font-size: 14px;
  }
  #about-title {
    font-size: 25px;
  }
  #events-title {
    font-size: 25px;
  }
} */
@media (max-width: 450px) {
  .App {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    overflow: scroll;
  }
  header > div {
    font-size: 15px;
    margin: 0 1% 0 1%;
  }
  header,
  footer {
    grid-column: 1/4;
  }
  #about-title {
    margin: 0;
    grid-column: 1/4;
    grid-row: 2/3;
    font-size: 20px;
  }
  .about {
    grid-column: 1/4;
    grid-row: 3/6;
    margin: 0 3% 0% 3%;
    height: 100%;
    font-size: 13px;
  }
  #events-title {
    margin: 5% 0 0 0;
    grid-row: 6/7;
    grid-column: 1/4;
    font-size: 20px;
  }
  .events-box {
    grid-column: 1/4;
    grid-row: 7/8;
    margin: 0 3% 0 3%;
    height: 75%;
    font-size: 14px;
  }
}
