/* #root {
} */

body {
  margin: 0;
  text-align: center;
  height: 100vh;
}

.App {
  height: 100vh;
  /* background-color: rgb(251, 107, 30); */
  background-color: #fe6e00;
  display: grid;
  grid-gap: 1%;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  color: #fedebe;
}

.events-box::-webkit-scrollbar {
  display: none;
}

.about {
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/5;
  grid-row: 3/8;
  margin: auto 10% auto 0;
  background-color: #fd5602;
  border-radius: 15px;
  border: solid rgb(235, 164, 126) 1px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.292);
  height: 60%;
  font-family: "Titillium Web", sans-serif;
}

header {
  grid-column: 1/9;
  border-bottom: solid white 2px;
  width: 100%;
  font-family: "Bungee", cursive;
  /* text-align: start; */
  align-items: center;
  background-color: #fd5602;
}

footer {
  grid-column: 1/9;
  grid-row: 8/9;
  display: flex;
  justify-content: center;
}

#about-title {
  margin: auto 10% auto 0;
  grid-column: 2/5;
}
#events-title {
  margin: auto 0 auto 10%;
  grid-column: 5/8;
}
#about-title,
#events-title {
  grid-row: 3/4;
  text-shadow: 0px 6px 7px rgba(0, 0, 0, 0.292);
  font-family: "Bungee", cursive;
  /* color: rgb(41, 93, 250); */
}
.events-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 5% 5% 5%;
  border-radius: 15px;
  border: solid rgb(235, 164, 126) 1px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.292);
  margin: auto 0 auto 10%;
  background-color: #fd5602;
  grid-column: 5/8;
  grid-row: 3/8;
  /* overflow: scroll; */
  height: 60%;
  font-family: "Titillium Web", sans-serif;
}

img {
  max-width: 50px;
}

@media (max-width: 375px) {
  .App {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    overflow: scroll;
  }
  .about {
    grid-column: 1/4;
    grid-row: 3/6;
    margin: 0 3% 0 3%;
    height: 75%;
    font-size: 13px;
  }
  .events-box {
    grid-column: 1/4;
    grid-row: 7/8;
    margin: 0 3% 0 3%;
    height: 75%;
    font-size: 13px;
  }
  #about-title {
    margin: 0;
    grid-column: 1/4;
    grid-row: 2/3;
  }
  #events-title {
    margin: 0;
    grid-row: auto;
    grid-column: 1/4;
  }
  header,
  footer {
    grid-column: 1/4;
  }
}
